html {
    font-family: 'Faculty Glyphic', 'Trebuchet MS', Arial, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    background: #ffffff;
}

.player {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 20rem;
}

.photo {
    width: 100%;
    float: left;
}
